.btn-view {
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
   /* width: 100px; */
   padding: 8px 12px;
   border: none;
   border-radius: 8px;
   background-color: #1ca3ae;
   font-weight: 600;
   color: #f1f5f0;
   font-size: 15px;
}
.btn-view-active {
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
   /* width: 100px; */
   padding: 8px 12px;
   border: none;
   border-radius: 8px;
   background-color: white;
   font-weight: 600;
   color: #584a41;
   font-size: 15px;
}
.btn-view-active:hover {
   background-color: #ede3f0;
}
.btn-view:hover {
   background-color: #c6edf1;
   color: #878987;
}

.btn-slash {
   border-radius: 5px;
   border: 2px #878987 dashed;
   padding: 0px 12px;
   height: 30px;
}
.captured-card {
   border: 2px solid #c6edf1;
   background-color: #dce1e1;
   display: flex;
   justify-content: center;
   margin: auto;
   color: #584a41;
   padding: 8px 12px;
   border-radius: 8px;
}

.captured-card img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.img-captured {
   margin: auto;
   display: flex;
   justify-content: center;
   width: 200px;
   height: 200px;
}
.captured-name {
   flex-direction: column;
   text-align: center;
   font-size: 20px;
}
.status-view {
   font-size: 20px;
   font-weight: bold;
}
