.login-content {
   width: 50%;
   border: 2px solid #fff;
   border-radius: 8px;
   padding: 12px;
   background: white;
   background-color: rgba(148, 140, 180, 0.6);
}

.btn-submit {
   // padding: 10px 30px;
   border: none;
   border-radius: 5px;
   background: rgba(0, 0, 0, 0.8);
   color: white;
   width: 100%;
   font-size: 30px;
   // line-height: 30px;
}

.spin {
   margin-right: 7px;
   top: 2px;
   animation: spin 1s infinite linear;
}