.preview-img {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);

}

.camera-div {
    min-height: calc(100vh - 56px);
}

.preview-header {
    width: fit-content;

}